*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

main{
    width: 95%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

del{
    color: black;
}
.card{
    width: 100%;
    margin-bottom: 10px;
    
}

.prodotto{
    display: inline-block;
    width: 33%;
    margin-bottom: 50px;
    padding: 10px;
    position: relative;
}

.description{
    text-align: left;
    
}

.main-container{
    width: 1200px;
    text-align: center;
    display: inline-block;
}

.brand{
    font-size: 1em;
}

.modello{
    font-weight: bold;
}

.prezzo{
    color: red;
    font-size: 0.8em;
}

.sconto{
    background-color: red;
    color: white;
    height: 20px;
    width: 40px;
    font-size: 12px;
    padding-top: 2px;
    position: absolute;
    bottom: 100px;
    left: 10px;
    
    
}

.eco{
    color: white;
    background-color: green;
    position: absolute;
    bottom: 100px;
    left: 55px;
    height: 20px;
    font-size: 10px;
    padding: 5px;
    line-height: 9px;
}
#eco2{
    color: white;
    background-color: green;
    height: 20px;
    font-size: 10px;
    padding: 5px;
    line-height: 9px;
    position: absolute;
    bottom: 100px;
    left: 10
    
}
.heart{
    background-color: white;
    position: absolute;
    padding: 5px;
    top: 50px;
    right: 10px;
}

#foto-b{
    display: none;
    width: 100%;
}

.prodotto:hover #foto-b{
    display: inline-block;
}

.prodotto:hover #foto{
    display: none;
}