*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

main{
    width: 95%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.card{
    height: 550px;
    
    
}



.description{
    /* text-align: left; */
    
}

.container{
    /* display: inline-block;     */
    width: 400px;
}

.brand{
    font-size: 1em;
}

.modello{
    font-weight: bold;
}

.prezzo{
    color: red;
    font-size: 0.8em;
}