*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 95%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.card{
    margin: 10px;
    height: 550px;
    display: inline-block;
}

.card-container{
    display: inline;
    position: relative;
    width: 300px;
}

.description{
    /* text-align: left; */
    width: 50px;
    height: 30px;
    background-color: red;
    display: inline-block;

}